Source: fonts-aurulent-sans-mono
Section: x11
Priority: optional
Maintainer: BlankOn Developers <BlankOn-Dev@googlegroups.com>
Build-Depends: cdbs, debhelper (>= 5.0.0)
Standards-Version: 3.9.4
Homepage: http://fontsquirrel.com/fonts/Aurulent-Sans-Mono

Package: fonts-aurulent-sans-mono
Architecture: all
Depends: defoma, fontconfig
Description: Font aurulent sans mono is the latin alphabe owing to political finally displaced other national scr of Italy.
